img {
   height:60px;
   float: left;
   padding-top:20px;
   padding-right: 20px;
   padding-left: 20px;

}

h1 {
   padding-top: 30px;
   padding-right: 220px;
   font-size: 1em;
   float: left;
   font-family: 'Open Sans', sans-serif;
}
.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

div#hmenu {
   background: #fffs;
   width: 100%;
   word-spacing: 25px;
   padding-top: 42px;
   padding-right: 30px;
   font-family: 'Open Sans', sans-serif, 300;
}

div#hmenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

div#hmenu ul li {
   margin: 0;
   padding: 0;
   display: inline;
}

div#hmenu ul a:link{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: lighter;
   font-size: medium;
   color: #000000;
}

div#hmenu ul a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #000000;
}

div#hmenu ul a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #000000;
}

div#hmenu ul a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #000000;
   background-color: #fff;
}

p {
   font-family: 'Open Sans', sans-serif, 300;
   padding-top: 50px;
   padding-left:600px;
   padding-right:30px;
   font-weight: 300;

}

footer {
   position: fixed;
   bottom: 2px;
   right:80px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: small;

}

div #contact {
   font-family: 'Open Sans', sans-serif;
}
