img {
  height: 60px;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
img.me {
  float: left;
  height: 500px;
  padding-top: 0px;
}
img.me_2 {
  float: left;
  height: 500px;
  padding-top: 0px;
}
img.cvlogo {
  padding-left: 590px;
  width: 200px;
  position: absolute;
}

h1 {
  padding-top: 30px;
  padding-right: 220px;
  font-size: 1em;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

div#hmenu {
  background: #fffs;
  width: 100%;
  word-spacing: 25px;
  padding-top: 42px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif, 300;
}

div#hmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div#hmenu ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

div#hmenu ul a:link {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: lighter;
  font-size: medium;
  color: #000000;
}

div#hmenu ul a:visited {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #000000;
}

div#hmenu ul a:active {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #000000;
}

div#hmenu ul a:hover {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #000000;
  background-color: #fff;
}

p {
  float: right;
  font-family: 'Open Sans', sans-serif, 300;
  padding-top: 50px;
  padding-right: 30px;
  font-weight: 300;
}
p.resume {
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: small;
  float: none;
}
p.cv {
  float: left;
  padding-left: 50px;
}
p.contact {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 2em;
}
p.link {
  font-size: 4em;
}
p.cvcontent {
  padding-left: 616px;
}

footer {
  position: fixed;
  bottom: 2px;
  right: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: small;
}
